<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood donation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="shortcut icon" href="{{url_for('static',filename='fav.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawsom-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='grid-gallery.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='footer.css')}}" />

    <script>
      window.watsonAssistantChatOptions = {
        integrationID: "bd3a70f2-8147-4d9c-9334-a0a00f5089de", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "154df801-5a37-45dd-9a46-4684bcbdacdf", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
</head>
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
  
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Who we are</a>
  
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">How it works</a>
  
                <a href="{{url_for('donor_register')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register as a donor</a>
  
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Post Request</a>
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>
  
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button type="button" class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div>
  
                <!--
                  Dropdown menu, show/hide based on menu state.
  
                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
  
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
  
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button type="button" class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!--
                Heroicon name: outline/bars-3
  
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!--
                Heroicon name: outline/x-mark
  
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
  
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>
  
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
  
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
  
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Reports</a>
        </div>
        <div class="border-t border-gray-700 pt-4 pb-3">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">Tom Cook</div>
              <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
            </div>
            <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="sr-only">View notifications</span>
              <!-- Heroicon name: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>
          </div>
          <div class="mt-3 space-y-1 px-2">
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Your Profile</a>
  
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>
  
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</a>
          </div>
        </div>
      </div>
    </nav>
  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        <div class="slider-detail">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{url_for('static',filename='slide-02.jpg')}}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
                            <p class=" bounceInLeft">The customer is very important, the customer will be followed by the customer. 
                                no justice Trucks may be an important element or, vehicles need eros. 
                                We live in the fear of the bow, mattis but with arrows, no one can. It's here.</p>
    
                            <div class=" vbh">
    
                                <div class="btn btn-success  bounceInUp"> Become a donor</div>
                                <div class="btn btn-success  bounceInUp"> Find a blood donor</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
  
 
<body>
    <div class="container body-content">
<div class="container">
<div class="row justify-content-start" style="padding-top:10px;">
<div class="col" style="padding-top:10px; padding-left: 180px;">
    <strong><h2 style="font-size: 50px;">Why should we donate Blood?</h2></strong>
    <img src="https://blood-donor.in/wp-content/uploads/2020/12/pngkey.com-donation-png-1753871-1638x2048.png" style="height: 500px; width:400px;" alt="" class="h-full w-full object-cover object-center">
</div>
    <div class="col" style="padding-top:10px;">
    <div class="row justify-content-center" style="padding-top:10px;padding-right: 20%; padding-top: 100px;">
        <P style="padding-right: 20%">It is also needed for regular transfusions for people with conditions such as thalassaemia and sickle cell disease and is used to make products such as clotting factors for people with haemophilia. There is a constant need for regular blood supply because blood can be stored for only a limited time before use. Regular blood donations by a sufficient number of healthy people are needed to ensure that safe blood will be available whenever and wherever it is needed.
            Blood is the most precious gift that anyone can give to another person — the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components — red cells, platelets and plasma — which can be used individually for patients with specific conditions</P>
                </div>
                </div>
                </div>
      <br><br><br>
                <div class="row justify-content-start" style="padding-top:10px;">

                <div class="col" style="padding-top:10px;">

                <div class="row justify-content-end" style="padding-top:10px; ">
                  <h2 style="font-size: 50px; padding-right: 423px ;"><strong> About</strong></h2>
                  <p style="padding-left: 220px;">If each blood donation saves up to three lives, imagine how many you can save at your own blood drive.
                     Hosting a blood drive gives you the chance to get your whole community
                     involved and make an even bigger impact on the lives of others.</p>
                </div>

                </div>
                <div class="col" style="padding-top:10px;">
                    <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngmart.com%2Ffiles%2F7%2FBlood-Donation-PNG-Picture.png&f=1&nofb=1&ipt=3085ffe1ef67337d090c72753e1f66d8d6049c827658ee8340f346ab8046d559&ipo=images" />

                </div>
                </div>
                <br><br><br>
                <div class="row justify-content-start" style="padding-top:10px; padding-left: 180px; background-color: rgb(192, 255, 255);">
                  
                <div class="col" style="padding-top:10px;">
                  <strong><h2 style="font-size: 50px; padding-right: 100px;">Why should you give Blood?</h2></strong>

<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.YIGzzM1l22pAPyV1i0gi-AHaDK%26pid%3DApi&f=1&ipt=5366e2d0dd936142d9934541da1238617ad1647a6095c255dab51873270636c4&ipo=images" />
                </div>
                <div class="col" style="padding-top:10px;">
                <div class="row justify-content-center" style="padding-top:10px;">
                  <ul>
                    <li>1. It saves lives — what else do you need to know?</li>
                    <li>2. It is not more painful than losing a loved one that you may save by donating!</li>
                    <li>3. It is your civic duty.</li>
                    <li>4. Because I know too many people who can’t give blood.</li>
                    <li>5. Because some day, I may need someone to do the same for me.</li>
                    <li>6. Do unto others, as you would have them do unto you!</li>
                    <li>7. Because if you need blood one day, you would not hesitate to take it, so why would you hesitate to give it?</li>
                    <li>8. Blood donation is important because maintaining an adequate blood supply in our community secures blood transfusions for patients.</li>
                    <li>9. Because I can.</li>
                    <li>10. Nutter Butters.</li>
                    <li>11. The question is, why not give blood?</li>
                    <li>12. It gives donors a medical check at no cost.</li>
                    <li>13. Free cookies, juice and the satisfaction of helping others.</li>
                    <li>14. I can’t discover a cure for cancer, but I can help keep someone alive while they are waiting for a cure.</li>
                  </ul>
                </div>
                </div>
                </div>
</div>
</div>
<br><br><br><br><br>
</body>
<footer class="bg-red-100 text-center lg:text-left">
  <div class="container p-6 text-gray-800">
    <div class="grid lg:grid-cols-2 gap-4">
      <div class="mb-6 md:mb-0">
        <h5 class="font-medium mb-2 uppercase">Footer text</h5>

        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>

      <div class="mb-6">
        <h5 class="uppercase font-bold mb-2.5 text-gray-800">Links</h5>

        <ul class="list-none mb-0">
          <li>
            <a href="#!" class="text-gray-800">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-gray-800">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-gray-800">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-gray-800">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center text-gray-700 p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021:blood-donor
  </div>
</footer>
</html>